# Системные папки и кэш Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

allure-results/

venv/
env/
.venv/
.env/

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
